<% layout("layouts/boilerplate") %>

    <h1>キャンプ場一覧</h1>
    
    <%for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images && campground.images.length) { %>
                    <img class="img-fluid" src="<%=campground.images[0].url %>" alt="キャンプ場の写真">
                    <% }else{ %>
                    <img class="img-fluid" src="https://res.cloudinary.com/dtaye3q8v/image/upload/v1722945043/YelpCamp/ufaigjn2ysdv0cmjqusa.jpg" alt="キャンプ場の写真">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id  %>" class="btn btn-primary"><%=campground.title  %>の詳細</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>